#hero{
    /* background img */
    background-image: url('./img/bg.jpg');
    /* background size */
    background-size: cover;
    /* background position */
    background-position: center;
    /* background repeat */
    background-repeat: no-repeat;
    /* height */
    height: 80vh;
    /* display flex */
    display: flex;
    /* justify content */
    justify-content: center;
    /* align items */
    align-items: center;
    /* text align */
    text-align: center;
    /* color */
    color: #29dfcd;
    /* font size */
    font-size: 5.62rem !important;
    /* font weight */
    font-weight: bolder;
    /* text transform */
    /* filter without using filter*/
    /* background color */

}

#hero h1{
    font-family: "Sacramento", cursive;
}