html{
    background-color: black;
    color: white;
}

img{
    height: 300px;
    width: 100%;
    border: 5px solid rgb(252, 59, 0);
    object-fit: cover;

}

h1{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
}

div{
  margin-top: 100px;

    width: 50%;
    margin-left: 25%;
    text-align: center;
}